* {
    font-family: Helvetica;
}

html {
    scroll-behavior: smooth;
  }

body {
    margin: 0;
    padding: 0;
}

/* Cabeçalho da Página*/

header {
    display: flex;
    justify-content: center;
    height: 90px;
    background-color: #012030;
}

.container {
    display: flex;
    justify-content: center;
    width: 990px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    display: block;
    font-size: 14px;
    font-weight: bold;
}

ul {
    margin:0px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    padding-inline-start: 10px;
}

nav ul, li {
    color: #fff;
    display: flex;
    list-style: none;
    margin: 0;
}

nav .active a {
    background-color: #fff;
    margin-left: 0px;
}

nav a {
    display: flex;
    padding: 10px;
    color: #868686;
    text-decoration: none;
    transition: all 0.3s linear;
}

nav a:hover {
    background-color: rgb(255, 255, 255);
}

/* Cabeçalho da Página*/



/* PRIMEIRA SECTION (BANNER) */

.column {
    flex-direction: column;
    max-width: 699px;
    max-height: 716px;
}

#banner {
    display: flex;
    justify-content: center;
    height: 40rem;
}

.banner_img {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
}

.banner_img img {
    display: flex;
    align-items: center;
    height: 475px;
}

.banner_column {
    flex-direction: column;
    display: flex;
    height:600px;
}

.banner_headline {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-height: 800px;
    max-width: 70rem;
}
.banner_headline h1 {
    font-size: 74px;
    color:#000;
    margin-top: 30px;
    margin-bottom:0;
    padding: 0;
}

.banner_headline h2 {
    font-size: 12px;
    color: #fff;
    background-color: #012030;
    border: 6px solid #012030;
    border-radius: 5px;
}

/* PRIMEIRA SECTION (BANNER) */


/* BIOGRAFIA */

#about {
    display: flex;
    justify-content: center;
    height: 42rem;
    background-color: #012030;
    border-top: 10px solid #000;
    word-wrap: break-word;
    flex-wrap: wrap;
}

.born_in {
    flex-direction: column;
    display: flex;
    justify-content: center;
    max-height: 600px;
    max-width: 700px;
    text-align: center;
    word-wrap: break-word;
    flex-wrap: wrap;
}

.born_in h1 {
    font-size: 60px;
    color: #fff;
    margin: 20px;
}

.born_in h3 {
    font-size: 16px;
    color: #012030;
    background-color: #45C4B0;
    border: 10px solid #45C4B0;
    border-radius: 10px;
}
.born_in h3:hover {
    box-shadow:
    2px 2px #53a7ea,
    4px 4px #53a7ea,
    6px 6px #53a7ea;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
    transition: all 0.4s linear;
}


.learn_more {
    margin-top: 30px;
}
.learn_more:hover {
    border-radius:50%;
}

.learn_more a {
    text-decoration: none;
    color: #fff;
}

.born_in span {
    color:#fff;
    font-size: 20px;
    background-color: #13678A;
    border: 11px solid #13678A;
    border-radius: 7px;
}



/* CARREIRA */

#career {
    display: center;
    justify-content: center;
    align-items: center;
    height: 44rem;
    background-color: #ffffff;
    border-top: 10px solid #000;
}

.career_block {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;

}


.career_block h1 {
    font-size: 60px;
    color: rgb(0, 0, 0);
    margin: 20px;
}
.career_block p {
    font-size: 15px;
    color: #45C4B0;
    background-color: #012030;
    border: 10px solid #012030;
    border-radius: 10px;
    box-shadow: 5px 5px 1px #13678A;
    font-weight: bold;
    opacity: 0.6;
}
.career_block p:hover {
    opacity: 1.0;
    transition: all 0.4s linear;
}

.career_title h1 {
    font-size: 60px;
    color: #000;
    margin: 20px;
    padding-top: 20px
}

.career_title{
    display: flex;
    justify-content: center;
}

.learn_more div{
    color:#fff;
    font-size: 20px;
    background-color: #13678A;
    border: 11px solid #13678A;
    border-radius: 7px;
}

/* CARREIRA */



/* POLÍTICA */

#politics {
    display: center;
    justify-content: center;
    align-items: center;
    height: 42rem;
    background-color: #012030;
    border-top: 10px solid #000;
}
#politics:hover {
    background-color: #012030;
    transition: all 2.7s linear;
}

.politics_title {
    display: flex;
    justify-content: center;
}
.politics_title h1 {
    font-size: 60px;
    color: #fff;
    margin: 20px;
    padding-top: 20px;
    text-shadow: 1px 1px 1px #000;
}

.politics_block {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align:justify;
    flex-wrap: wrap;
    height: 500px;
}
.politics_block p {
    font-size: 15px;
    color: #012030;
    background-color: #45C4B0;
    border: 10px solid #45C4B0;
    font-weight: bold;
}

.politics_block p:hover {
    box-shadow:
    2px 2px #13678A,
    4px 4px #13678A,
    6px 6px #13678A;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
    transition: all 1s linear;
}

.politics_img {
    display: flex;
    flex-direction: column;
    background-image: url('../img/politics.jpg');
    background-size: cover;
    height: 350px;
    width: 550px;
    box-shadow: 1px solid #000;
}

.politics_img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: all 0.7s linear;
}

/* POLÍTICA */


/* REFERÊNCIAS */

footer {
    border-top: 5px solid #000;
}

#refs {
    height: 18rem;
}

.refs_title {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgb(148, 148, 148);
}
.refs_title h1 {
    color: #fff;
    font-size: 25px;
    padding-top: 40px;
}

footer {
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
}
.footer_area {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(182, 182, 182);
}
.footer_areaitem {
    flex: 1;
    color: #fff;
}
footer .widget_title_text {
    color: #fff;
}

footer .widget_desc1 {
    color: rgb(134, 134, 134);
}

.author {
    display: flex;
    justify-content: center;
    background-color: #1e1e1e;
    color: #fff;
    padding-bottom: 20px;
    font-size: 13px
}

/* REFERÊNCIAS */


/* RESPONSIVIDADE */

@media (max-width:768px) {
    
    nav {
        display: block;
        font-size: 12px;
        font-weight: bold;
    }

    .column {
        flex-direction: column;
        max-width: 699px;
        max-height: 716px;
    }

    #banner {
        height: 42rem;
    }

    .born_in h3 {
        font-size: 12px;
        color: #012030;
        background-color: #45C4B0;
        border: 10px solid #45C4B0;
        border-radius: 10px;
        margin: 10px;
    }

    .banner_headline {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        max-height: 800px;
        max-width: 70rem;
    }

    .banner_headline h1 {
        font-size: 64px;    
        margin-left: 25px;
        margin-right: 25px;
        padding: 0;
        margin-block-start: 0.23em;
        margin-block-end: 0.23em;
    }
    .banner_headline h2 {
        font-size: 11px;
        margin: 10px;
        margin-bottom: 20px;
    }
    .banner_img img {
        display: flex;
        align-items: center;
        width: 100%;
        height: auto;
    }

    #career {
        height: 49rem;
    }

    .career_block p {
        font-size: 12px;
        font-weight: bold;
        opacity: 0.6;
        margin-right: 10px;
        margin-left: 10px;
    }

    .career_block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
    }
    .politics_block p {
        font-size: 11px;
        margin: 10px;
    }
    .politics_block {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        text-align:justify;
        flex-wrap: wrap;
        height: 500px;
    }


}

@media (max-width:1234px) {
    .politics_block {
        display: flex;
    
        justify-content: center;
        align-items: center;
        text-align:justify;
        height: 500px;
    }
    .politics_img {
        display: flex;
        height: 250px;
        width: 350px;
    }
}